@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
    background-color: #FFE1AF;
    font-family: 'Comfortaa', sans-serif;
}
.logo_image {
width: 80px;
  height: 80px;
}
.images{
    width: 170px;
    height: 230px;
    display: flex;
    border-radius: 20px;

}
.card {
    display:flex;
    background-color: #E2B59A;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    height: 320px;
    justify-content: space-between;
    width:220px;
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.872);
    cursor: pointer;
}
.name_of_goods {
    font-weight: bold;
}
.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-elements {
    font-weight: bold;
    text-decoration: none; 
    font-size: 30px;
    color: black;  
    transition: background-color 0.7s ease;
}

.menu-elements:hover{
    display: flex;
    background-color: #B77466;
    color: white;
    font-size: 30px ;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.button{
display: flex;
background-color: #B77466;
color: white;
font-size: 20px ;
border: none;    
outline: none; 
width: 110px;
padding: 15px; 
border-radius: 30px;
align-items: center;
font-family: 'Comfortaa', sans-serif;
}
.button:hover{
    transform: scale(0.92);
}
header {
    background-color: #E2B59A; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    gap: 40px;}
  h1{
    font-weight: bold; 
    margin: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding-bottom: 15px;
 }
main {
    padding-top: 40px;
    
}
footer{
    padding-top: 40px;
}
.product-title{
font-weight: bold;
font-size: 32px;
}
large-image {
    width: 100%;       
    height: 100%;      
    border-radius: 20px;
    object-fit: cover; 
}

.large-image:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.872);
    cursor: pointer;
}
.image-box {
    width: 350px;       
    height: 450px;
    position: relative;
    margin-left:190px; 
}

.image-box img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-origin: bottom center;
}

.image-box img:nth-child(1) {
    transform: rotate(-4deg) translateX(0);
}

.image-box img:nth-child(2) {
    transform: rotate(4deg) translateX(0);
}

.image-box:hover img:nth-child(1) {
    transform: rotate(-10deg) translateX(-100px); 
}

.image-box:hover img:nth-child(2) {
    transform: rotate(10deg) translateX(100px); 
}
.product-container{
    flex-direction: row;
    display: flex;
    gap:180px;
}
.price{
 font-weight: bold;
 font-size: 32px;
 display:flex;
 flex-direction: column;
 gap: 10px;
}
.price p {
    margin: 0;    
}
.action-btn {
    margin-top: 30px;
    padding: 15px;
    background-color: #B77466;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    border: none;    
    outline: none;
    font-family: 'Comfortaa', sans-serif;
}

.colors img{
    margin-top: 10px;
    width: 35px;
    height: 35px;
    border: 2px solid black;
}
.description{
    font-size: 15px; 
    width: 400px; 
    margin-top: 20px;
    font-weight: normal;
}

.text-section{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 60px;
}

.text-btn {
    border: none;    
    outline: none;
    font-family: 'Comfortaa', sans-serif;
    background-color: #FFE1AF;
    cursor: pointer;
    font-size: 20px;
}
.text-btn.active {
    text-decoration: underline;
}
.main-titles{
    background-color: #bf7a6ca5;
    color: #FFFF;
}
table{
    margin-top: 20px;
    width:100%;
}
td{
    height:30px;
}
.row1{
    background-color: #FFE1AF;
    color: #633316e1;
}
.row2{
    background-color: #E2B59A;
    color: #633316e1;
}