@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
    background-color: #FFE1AF;
    font-family: 'Comfortaa', sans-serif;
}
.logo_image {
width: 80px;
  height: 80px;
}
.images{
    width: 170px;
    height: 230px;
    display: flex;
    border-radius: 20px;

}
.card {
    display:flex;
    background-color: #E2B59A;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    height: 320px;
    justify-content: space-between;
    width: 200px;
}
.name_of_goods {
    font-weight: bold;
}
.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-elements {
    font-weight: bold;
    text-decoration: none; 
    font-size: 30px;
    color: black;  
    transition: background-color 0.4s ease;
}

.menu-elements:hover{
    display: flex;
    background-color: #B77466;
    color: white;
    font-size: 30px ;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.button{
display: flex;
background-color: #B77466;
color: white;
font-size: 20px ;
height: 30px;
width: 120px;
padding: 10px;
border-radius: 30px;
align-items: center;
}
