.adv{
    font-size: 50px;
    color: red;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}
.text-title{
    font-size: 45px;
    border-bottom: 3px solid #E2B59A;
    color: #B77466;
    text-align: center;
    margin-top: 35px;
}