body{
    background-color: #ffe1af;
}
.page-header{
    align-items: center;
    color: #B77466; 
    display:flex;
    flex-direction: column;
}
.page-title{
    font-size: 45px;
    border-bottom: 3px solid #E2B59A;
}
.promo-badge{
    font-size: 60px;
    font-weight: bold;
    border-bottom: 3px solid rgb(201, 40, 40);
}
.promo-content{
    margin-top: 30px;
    align-items: center;
    color: red; 
    display:flex;
    flex-direction: column;
    background-color: #ffe1af;
    border: 2px solid #e2b59a;
    padding: 50px 5px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 6px 16px red;
}
.promo-button{
    text-decoration: none;
    color: black;
}
.promo-button:hover {
    background-color: #d89a7a;
    transform: scale(1.25);
    border-radius: 10px;
}
.section-title{
    margin-top: 50px;
    font-weight: bold;
    color: rgb(228, 87, 87);
    font-size: 40px;
}
.sale-badge{
    font-size: 55px;
    color: red;
    font-weight: bold;
    padding-left: 20px;
}
.title-stock{
   color: rgb(225, 53, 53);
   margin-top: 15px; 
   font-size: 35px;
   font-weight: bold;
}
.sale-dates {
    margin-top: 10px;
    font-size: 16px;
    color: #7a4f4f;
}
.sale-description {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    max-width: 500px;
    color: #5c3f3f;
}
.sale-item{
  margin-top: 30px;
    align-items: center;
    display:flex;
    flex-direction: column;
    background-color: #ffe1af;
    border: 2px solid #e2b59a;
    padding: 50px 50px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 6px 16px red;
    max-width: 500px;
}
.current-sales{
    flex-direction: row;
    display: flex;
}
.sales-grid {
    display: flex;
    gap: 20px; 
}